
<header>
    <div class="logoContainer"></div>
    <div class="leftLineContainer"></div>
    <div [routerLink]="['/main-grid-search']" class="searchContainer"></div>
    <nav>
        <a class="newsContainer" [routerLink]="['/post-one']">Новини</a>
        <a class="financesContainer" href="#">Фінанси</a>
        <a class="tradingContainer" href="#">Трейдинг</a>
        <a class="analyticsContainer" href="#">Аналітика</a>
        <a class="investmentsContainer" href="#">Инвестиції</a>
        <button [routerLink]="['/main-grid-login-meta-mask']" class="buttonContainer">
            <a class="buttonDescription">Закритий розділ</a>
            <div class="lockIcon"></div>
        </button>
    </nav>
    <div class="rightLineContainer"></div>
    <div class="lightVersionContainer"></div>
</header>