
<header>
    <div class="logoContainer"></div>
    <div class="leftLineContainer"></div>
    <div class="searchContainer"></div>
    <nav>
        <a class="newsContainer" href="#">Новини</a>
        <a class="financesContainer" href="#">Фінанси</a>
        <a class="tradingContainer" href="#">Трейдинг</a>
        <a class="analyticsContainer" href="#">Аналітика</a>
        <a class="investmentsContainer" href="#">Инвестиції</a>
        <button class="buttonContainer" href="#">
            <a class="buttonDescription" href="#">Закритий розділ</a>
            <div class="lockIcon"></div>
        </button>
        
    </nav>
    <div class="rightLineContainer"></div>
    <div class="lightVersionContainer"></div>
</header>