<main>
    <section class="titleSection">
        <div class="lastPublicationContainer">Останні публікації</div>
        <div class="viewContainer">
            <p class="view">Вигляд:</p> 
            <div class="toggleContainer">
                <button (click)="exitForm()" class="listIconContainer">
                    <div class="listIcon"></div>
                </button>
                <button class="gridIconContainer">
                    <div class="gridIcon"></div>
                </button>
            </div>
        </div>
    </section>
    <section class="postContainer">
        <app-publication-ethereum class="post1"></app-publication-ethereum>
        <app-publication-binance class="post2"></app-publication-binance>
        <app-publication-binance class="post3"></app-publication-binance>
        <app-publication-ethereum class="post4"></app-publication-ethereum>
        <app-publication-ethereum class="post5"></app-publication-ethereum>
        <app-publication-binance class="post6"></app-publication-binance>
    </section>
    <section class="pagesContainer">
        <a class="prewPage" href="#"></a>
        <a class="page1 pages active" href="#">1</a>
        <a class="page2 pages" href="#">2</a>
        <a class="page3 pages" href="#">3</a>
        <a class="nextPage" href="#"></a>
    </section>
</main>




