<main>
    <section class="titleSection">
        <div class="lastPublicationContainer">Останні публікації</div>
        <div class="viewContainer">
            <p class="view">Вигляд:</p> 
            <div class="toggleContainer">
                <button (click)="exitForm()" class="listIconContainer">
                    <div class="listIcon"></div>
                </button>
                <button class="gridIconContainer">
                    <div class="gridIcon"></div>
                </button>
            </div>
        </div>
    </section>
    <section class="postContainer">
        <div class="post1 postCard">
            <div class="posActivatedImg"></div>
            <div class="posActivatedContainer">
                <p class="posActivatedTitleUp">Ethereum успішно перейшов</p>
                <p class="posActivatedTitleDown">на PoS</p>
                <div class="posActivatedTitleIcon"></div>
                <div class="posActivatedDescription">{{posDescription}}</div>
                <div class="postDate">{{date}}</div>
                <a href="#" class="readMore"></a>
            </div>
        </div>
        <div class="post2 postCard">
            <div class="binanceImg"></div>
            <div class="binanceContainer">{{binanceTitle}}</div>
            <div class="binanceDescription">{{binanceDescription}}</div>
            <div class="postDate">{{date}}</div>
            <a href="#" class="readMore"></a>
        </div>
        <div class="post3 postCard">
            <div class="binanceImg"></div>
            <div class="binanceContainer">{{binanceTitle}}</div>
            <div class="binanceDescription">{{binanceDescription}}</div>
            <div class="postDate">{{date}}</div>
            <a href="#" class="readMore"></a>
        </div>
        <div class="post4 postCard">
            <div class="posActivatedImg"></div>
            <div class="posActivatedContainer">
                <p class="posActivatedTitleUp">Ethereum успішно перейшов</p>
                <p class="posActivatedTitleDown">на PoS</p>
                <div class="posActivatedTitleIcon"></div>
                <div class="posActivatedDescription">{{posDescription}}</div>
                <div class="postDate">{{date}}</div>
                <a href="#" class="readMore"></a>
            </div>
        </div>
        <div class="post5 postCard">
            <div class="posActivatedImg"></div>
            <div class="posActivatedContainer">
                <p class="posActivatedTitleUp">Ethereum успішно перейшов</p>
                <p class="posActivatedTitleDown">на PoS</p>
                <div class="posActivatedTitleIcon"></div>
                <div class="posActivatedDescription">{{posDescription}}</div>
                <div class="postDate">{{date}}</div>
                <a href="#" class="readMore"></a>
            </div>
        </div>
        <div class="post6 postCard">
            <div class="binanceImg"></div>
            <div class="binanceContainer">{{binanceTitle}}</div>
            <div class="binanceDescription">{{binanceDescription}}</div>
            <div class="postDate">{{date}}</div>
            <a href="#" class="readMore"></a>
        </div>
    </section>
    <section class="pagesContainer">
        <a class="prewPage" href="#"></a>
        <a class="page1 pages active" href="#">1</a>
        <a class="page2 pages" href="#">2</a>
        <a class="page3 pages" href="#">3</a>
        <a class="nextPage" href="#"></a>
    </section>
</main>




