<div class="twtContainer">
    <div class="TWTIcon"></div>
    <div class="TWTTitle">TWT - токен гаманця Trust Wallet</div>
    <a href="https://coinmarketcap.com/currencies/trust-wallet-token/" class="TWTLink">TWT</a>
    <div class="TWTTerm postChapter">{{TWTTerm}}</div>
    <div class="TWTDescription postChapter">{{TWTDescription}}</div>
    <div class="TWTWebsiteLink">Завантажити гаманець можна на <a href="https://trustwallet.com/ru/" class="websiteLink">оф.сайті</a>, а токен купити на Binance.</div>
    <div class="TWTImage"></div>
    <div class="websiteTW link">Офіційний сайт <a href="https://trustwallet.com/ru/" class="link">Trust Wallet</a></div>
    <div class="ourInstruction postChapter">Наша <a href="https://telegra.ph/Trust-Wallet---yak-nalashtuvati-ta-vikoristovuvati-gamanec-08-21-2" class="websiteLink">інструкція </a>з гаманця.</div>    
</div>

