<div class="qmallContainer">
    <div class="qmallIcon"></div>
    <div class="qmallTitle">QMALL - токен нашої української біржі</div>
    <a href="https://coinmarketcap.com/currencies/qmall-token/" class="qmallLink">QMALL</a>
    <div class="qmallTerm postChapter">{{qmallTerm}}</div>
    <div class="qmallDescription postChapterLowe">5000 криптоматів у всій Європі.</div>
    <div class="qmallQuestion">Чому токен біржі зараз цікаві?</div>
    <div class="qmallAnswer postChapter">{{qmallAnswer}}</div>
    <div class="qmallLinkTitle postChapterLower">Посилання на біржу <a href="https://qmall.io/ru" class="qmallTitleLink postChapterLower">QMALL.</a></div>
    <div class="qmallImage"></div>
    <div class="webSiteQmall postChapterLower">Біржа <a href="https://qmall.io/ru" class="linkColor postChapterLower">QMALL</a></div>
    <div class="qmallRegistration postChapterLower">До речі, там можна пройти реєстрацію через ДІЮ.</div>
    <div class="remark">Примітка:</div>
    <div class="remarkIcon"></div>
    <div class="remarkDescription postChapter">{{remarkDescription}}</div>
</div>
