<div class="tonContainer">
    <div class="TONIcon"></div>
    <div class="TONTitle">TON - криптовалюта власника телеграму - Павла Дурова</div>
    <a href="https://coinmarketcap.com/currencies/toncoin/markets/" class="TONLink">TON</a>
    <div class="TONTerm postChapter">{{TONTerm}}</div>
    <div class="TONDescription postChapter">{{TONDescription}}</div>
    <div class="TONWebsiteLink">Якщо хтось купуватиме TON, то раджу це робити на біржі <a href="https://www.huobi.com/ru-ru/" class="HuobiLink">Huobi</a>, зараз там є дуже цікаві варіанти для стейкінгу:</div>
    <div class="TONInvestmentTenDeys TONInvestmenStyle">- 200 TON під 300% річних на 10 днів.</div>
    <div class="TONInvestmentThirstyDays TONInvestmenStyle">- 200 TON під 100% річних на 30 днів.</div>
    <div class="TONInvestmentNinetyDays TONInvestmenStyle">- 400 TON під 70% річних на 90 днів.</div>
    <div class="TONImage"></div>
    <div class="websiteHuobi link">Біржа <a href="https://www.huobi.com/ru-ru/" class="link">Huobi</a></div>
    <div class="TONScore">{{TONScore}}</div>
    <div class="remark">Примітка:</div>
    <div class="remarkIcon"></div>
    <div class="remarkDescription">{{remarkDescription}}</div>
</div>
