.hashtag{
    position: absolute;
    width: 284px;
    height: 18px;
    left: 30px;
    top: 2797px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9D9D9D;
}