<div class="postNavigationContainer">
    <div class="postNavigation">
        <div>Головна</div>
        <div class="postNavigationIcon"></div>
        <div>Пост 1</div>
    </div>
    <div class="dateContainer">18 листопада, 2022</div>
    <div class="viewsContainer">
        <div class="viewsContainerIcon"></div>
        <div class="viewsCount">1000</div>
    </div>
</div>
<div class="postTitle">Мої рухи на ринку</div>
<div class="postTitleDescription">{{postTitleDescription}}</div>
<div class="contentArticle">
    <div class="contentArticleTitle">Зміст статті:</div>
    <div class="contentArticlePart">
        <div class="contentArticleIcon"></div>
        <a href="https://coinmarketcap.com/currencies/trust-wallet-token/" class="contentArticleLink">TWT - токен гаманця Trust Wallet</a>
    </div>
    <div class="contentArticlePart">
        <div class="contentArticleIcon"></div>
        <a href="https://coinmarketcap.com/currencies/toncoin/markets/" class="contentArticleLink">TON - криптовалюта власника телеграму - Павла Дурова </a>
    </div>
    <div class="contentArticlePart">
        <div class="contentArticleIcon"></div>
        <a href="https://coinmarketcap.com/currencies/qmall-token/" class="contentArticleLink">QMALL - токен нашої української біржі</a>
    </div>
</div>
<div class="chapterAbout postChapter">Трохи розповім про свої рухи на ринку.</div>
<div class="chapterRemind postChapter">{{chapterRemind}}</div>
<div class="chapterOverview postChapter">{{chapterOverview}}</div>
